#!/bin/bash
sudo -u postgres psql -c "create database saturn"
sudo -u postgres psql -c "create user saturnadmin with encrypted password 'saturnadmin@123'"
sudo -u postgres psql -c "grant all privileges on database saturn to saturnadmin"
sudo -u postgres psql -c "grant postgres to saturnadmin"

./migrate.sh
